*{
    margin: 0;
}
.contacts::after{
    content: "";
    margin-right:3rem;
}
.contacts{
    background-color: #2c677f;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.fa-brands{
    color: #2c677f;
    font-size: 1.4rem;
}
.contacts div{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    background-color: white;
    height: 3rem;
}

.containImage {
    width: 100%;
    height: 54.5rem;
    object-fit: contain;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(./beautiful-pet-portrait-of-dog.jpg);
    display: flex;
    justify-content: center;
}

.contain-MenuInfo{
    position: absolute;
    display: grid;
    grid-auto-rows: 1rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    width: 80%;
    justify-self: end;
    align-self: start;
    margin-top: 2rem;
}
.contain-MenuInfo>div{
    grid-column: span 1;
}
.logo{
    width: 70%;
}
.childrenMenu{
    justify-self: end;
    text-decoration: underline;
    cursor: pointer;
}